#Ignore the default hidden folder of Visual Studio.
.vs/

#Ignore any visual studio folders.
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

#Ignore packages from NuGet and NPM.
[Pp]ackages/
[Nn]ode_modules/

#Ignore private folders for the server.
[Pp]riv/

#Ignore the FiveM FXserver cache.
[Cc]ache/

#Ignore the server artifacts, new cloners should add this themselves.
[Aa]rtifacts/

#Ignore source maps
*.map

#Ignore the webpack visualizer page.
stats.html

#Ignore .js and .js.map files that always magically seem to appear in my src/ directory. Shoosh, go away!
FYF.MapBuilder.UI/src/**/*.js
FYF.MapBuilder.UI/src/**/*.js.map