.container {
    width: 500px;
    background-color: rgba(128, 185, 255, 0.5);
    border: solid 2px rgba(128, 185, 255, 0.8);
}

.container_inner {
    padding: 20px;
}

.title {
    margin: 10px 0px;
}

.field {
   margin: 5px 0px;
}