.container {
    width: 500px;
    background-color: white;
    height: 100vh;
    border-right: 3px solid var(--accent_color);
}

.container_inner {
    padding: 10px;
    padding-right: 15px;
}

.title
{
    text-align: center;
    margin-bottom: 0px;
}

.sub_title
{
    font-size: 1.1em;
    padding: 10px 0px 10px 0px;
}

.description {
    font-style: italic;
    font-size: 0.8em;
    margin: 0px 0px 5px 0px;

    color: darkgray;
}

.field {
   margin: 5px 0px;
}